extends ../../templates/layout

block vars
  - var current = 'Develop';

block title
  title Develop Enketo

block nav
  +menu(primary.Develop)

block main
  article
    .content
      h2 Overview for Developers
      section#libraries
        h3 Libraries
        p
          | Enketo maintains 4 libraries (
          a(href="https://github.com/enketo/tree/main/packages/enketo-core") Core
          | , 
          a(href="https://github.com/enketo/tree/main/packages/enketo-transformer") Transformer
          | , 
          a(href="https://github.com/enketo/tree/main/packages/openrosa-xpath-evaluator") XPath Evaluator
          | , 
          a(href="https://github.com/enketo/tree/main/packages/enketo-validate") Validate
          | ) that can be used to build an Enketo-powered application. 
          | The illustration below shows how 3 of these libraries are used as building blocks of one such application: 
          a(href="https://github.com/enketo/tree/main/packages/enketo-express") Enketo Express
          | .

        .dev-overview
          h4: a(href="https://github.com/enketo/tree/main/packages/enketo-express") Enketo Express
          ul 
             li communication with OpenRosa server
             li persistent storage in browser
             li offline launch in browser
          .dev-overview__2nd
            .dev-overview__2nd__side client
            h4: a(href="https://github.com/enketo/tree/main/packages/enketo-core") Enketo Core
            ul 
              li form rendering
              li form logic
              li form API
            .dev-overview__3rd
              h4: a(href="https://github.com/enketo/tree/main/packages/openrosa-xpath-evaluator") OpenRosa XPath Evaluator
              ul 
                li XPath evaluation
          .dev-overview__2nd
            .dev-overview__2nd__side server
            h4: a(href="https://github.com/enketo/tree/main/packages/enketo-transformer") Enketo Transformer
            ul 
              li XSL transformation of XForm
              li markdown processsing
              li language directionality
              li media/data resource URI resolution

        p These libraries are divided in a logical way so they can be used for light-weight mobile hybrid applications, as well as web applications. They don't use opinionated JS frameworks either to provide further flexibility and sustainability.

        p Enketo's 
          a(href="https://github.com/enketo/tree/main/packages/enketo-validate") XForm validator 
          | can be seen in action side-by-side with ODK Validate at 
          a(href="https://validate.enketo.org") validate.enketo.org
          |.

      section#transformation
        h3 Transformation
        p.
          Enketo's form engine (Enketo Core) does not read XForms directly. It works with the result of a transformation of an 
          XForm into a JSON object containing a form HTML string and a model XML string.
          The illustration below gives a high-level overview of this transformation.

        .dev-transformation
          .dev-transformation__main
            .dev-transformation__main__part
              .dev-transformation__main__part__side XForm instances
              :md
                ```xml
                <model>
                  <instance>
                    <data>
                      <node/>
                      <resp/>
                    </data>
                  </instance>
                  <instance id="countries"/>
                  ...
                </model>
                ```
            .dev-transformation__main__part
              .dev-transformation__main__part__side XForm binds
              :md
                ```xml
                <bind 
                  nodeset="/data/node" 
                  relevant="/data/resp = 'a'"
                  constraint=". > 6"
                  type="integer"
                />
                ```
            .dev-transformation__main__part
                .dev-transformation__main__part__side XForm body
                :md
                  ```xml
                  <input 
                    ref="/data/node"
                    appearance="distress"
                  >
                    <label>Enter Number</label>
                  </input>
                  ```
          .dev-transformation__arrow
            i.icon.icon-arrow-right 
          .dev-transformation__main
            .dev-transformation__main__part
              .dev-transformation__main__part__side XML instances
              :md
                ```xml  
                <model>
                  <instance>
                    <data>
                      <node/>
                      <resp/>
                    </data>
                  </instance>
                  <instance id="countries"/>
                  ...
                </model>
                ```
            .dev-transformation__main__part
              .dev-transformation__main__part__side HTML form
              :md
                ```xml
                <form class="or">
                  <label 
                    class="...-distress"
                  >
                    <span>Enter Number</span>
                    <input
                      type="number"
                      name="/data/node"
                      data-relevant="/data/resp= 'a'"
                      data-constraint=". > 6"
                      data-type-xml="integer"
                    />
                  </label>
                </form>
                ```
        :md
          The transformation uses [XSL](https://www.w3.org/Style/XSL/) and could theoretically be performed by any XSL Transformer in any language. 
          It's been confirmed to work in PHP and NodeJS.
